<nz-avatar
  nz-dropdown
  nzTrigger="click"
  [nzDropdownMenu]="menu"
  nzText="I"
  nzSize="large"
  [nzPlacement]="'bottomRight'"
  class="avatar-dropdown"
></nz-avatar>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item nzDisabled>israel.sandrino@wikidados.com.br</li>
    <li nz-menu-item>
      <span nz-icon nzType="user" nzTheme="outline"></span>
      Perfil
    </li>
    <li nz-menu-item (click)="logout()">
      <span nz-icon nzType="logout" nzTheme="outline"></span>
      Logout
    </li>
  </ul>
</nz-dropdown-menu>
